.auth-buttons {
  display: flex;
  gap: 10px;
  margin-right: 10px
}

@media (max-width: 400px) {
  .auth-buttons {
    flex-direction: column;
    gap: 5px;
    text-align: right;
  }
}

.logged-in-buttons {
  display: flex;
  gap: 15px;
  margin-right: 15px;
  align-items: center;
}

@media (max-width: 500px) {
  .logged-in-buttons{
    flex-direction: column;
    gap: 10px;
    text-align: right;
    align-items: flex-end;
  }
  .user-status-icon{
    display: none;
  }
}

.navbar-account-area {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  
}

.user-info {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.user-status-icon {
  height: 50px;
}
